/* .custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  .custom-details {
    margin-bottom: 20px;
  }
   
  .custom-service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
   
  .custom-service {
    margin: 0 10px;
    max-width: 400px;
    margin-bottom: 20px;
  }
   
  .custom-table {
    border-collapse: collapse;
    width: 100%;
  }
   
  .custom-table td,
  .custom-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
   
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
   
  .custom-table tr:hover {
    background-color: #ddd;
  } */

  .form-container {
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
   
  .box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
   
  .box p {
    margin: 10px 0;
  }
   
  @media (max-width: 768px) {
    .form-container {
      grid-template-columns: 1fr;
    }
  }
   
   
   
   
   
   
   .details-container {
    margin: 20px 0;
  }
   
  .quotation-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
   
  .form-data,
  .service-details {
    flex: 0 0 calc(33.33% - 10px);
    margin-right: 20px;
  }
   
  .service-details table {
    width: 100%;
  }
   
  .service-details table th,
  .service-details table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
   
   
  .custom-service-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    width: 100%;
  }
   
  .custom-service {
    margin-left: 50px;
    width: calc(90.33% - 20px); /* Each table takes 70% of the container's width */
    float: left; /* Float left to align tables */
    margin-bottom: 20px;
  }
   
  .table-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
   
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
   
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }